<!-- app/views/customer/index.html.erb -->
<table>
  <thead>
    <tr>
      <th>Cliente</th></th>
      <th>Operador</th>
      <th>Locais</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.operator.name %></td>
        <td><%= customer.locations.map(&:name).join(', ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
